---
const { footer } = Astro.props;
const langPrefix = Astro.url.pathname.startsWith("/en") ? "/en" : "";
---

<footer id="footer" class="bg-neutral-50 dark:bg-neutral-950">
  <div class="mx-auto max-w-7xl px-8">
    <div class="py-8 md:py-12">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-12">
        <div class="flex flex-col items-center md:items-start">
          <a href={`${langPrefix}/`} class="mb-6 ml-1 flex items-center space-x-2">
            <svg class="h-6 w-6" viewBox="0 0 540 600" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <linearGradient id="logoGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                  <stop offset="0%" style="stop-color:#119CFC;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#1655E7;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M540 450.004L270 600L119.997 516.677V220.61L194.999 178.949L270 137.287L420.003 220.61V379.399L270 462.713L240.003 446.044V291.207L270 274.575L299.997 291.216V377.41L360 344.091V255.9L270 205.886L180 255.9V481.343L270 531.356L479.997 414.697V185.303L270 68.6437L60.003 185.303V483.341L0 450.004V149.996L270 0L540 149.996V450.004Z" fill="url(#logoGradient)"></path>
            </svg>
            <span class="text-base font-medium text-neutral-900 dark:text-neutral-100">{footer.brand}</span>
          </a>
          <div class="flex items-center space-x-3 md:self-start">
            <div id="theme-toggle" class="relative flex rounded-full border border-neutral-200 bg-neutral-100 p-1 dark:dark:border-neutral-800 dark:bg-neutral-900">
              <div id="theme-indicator" class="absolute top-1 left-1 h-8 w-8 rounded-full border border-neutral-200 bg-neutral-50 dark:dark:border-neutral-800 dark:bg-neutral-950"></div>
              <button id="theme-system" aria-label={footer.aria.system} class="theme-btn relative z-10 cursor-pointer rounded-full p-2 text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-100">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 4a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-12z"></path><path d="M3 13h18"></path><path d="M8 21h8"></path><path d="M10 17l-.5 4"></path><path d="M14 17l.5 4"></path>
                </svg>
              </button>
              <button id="theme-light" aria-label={footer.aria.light} class="theme-btn relative z-10 cursor-pointer rounded-full p-2 text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-100">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path><path d="M6.343 17.657l-1.414 1.414"></path><path d="M6.343 6.343l-1.414 -1.414"></path><path d="M17.657 6.343l1.414 -1.414"></path><path d="M17.657 17.657l1.414 1.414"></path><path d="M4 12h-2"></path><path d="M12 4v-2"></path><path d="M20 12h2"></path><path d="M12 20v2"></path>
                </svg>
              </button>
              <button id="theme-dark" aria-label={footer.aria.dark} class="theme-btn relative z-10 cursor-pointer rounded-full p-2 text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-100">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
                </svg>
              </button>
            </div>
            <div class="relative inline-block text-left">
              <div>
                <button id="lang-menu-button" type="button" aria-expanded="false" aria-haspopup="true" class="inline-flex w-full cursor-pointer items-center justify-center gap-x-1 rounded-full border border-neutral-200 bg-neutral-100 px-4 py-2.5 text-sm font-medium text-neutral-600 hover:text-neutral-900 dark:dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-100">
                  {Astro.url.pathname.startsWith("/en") ? "EN" : "IT"}
                  <svg id="lang-chevron-icon" viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-neutral-400 dark:text-neutral-500">
                    <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
                  </svg>
                </button>
              </div>
              <div id="lang-dropdown" role="menu" aria-labelledby="lang-menu-button" aria-orientation="vertical" class="absolute left-1/2 z-10 mt-2 hidden w-40 origin-top -translate-x-1/2 rounded-3xl border border-neutral-200 bg-neutral-50 focus:outline-hidden dark:dark:border-neutral-800 dark:bg-neutral-950 dark:text-neutral-100">
                <div role="none" class="px-1.5 py-1">
                  <a id="lang-it" role="menuitem" href="/" tabindex="0" class={`flex items-center rounded-full my-1 px-4 py-2 text-sm font-medium text-neutral-900 hover:bg-neutral-200 dark:text-neutral-100 dark:hover:bg-neutral-800 ${!Astro.url.pathname.startsWith("/en") ? "bg-neutral-100 border border-neutral-200 dark:dark:border-neutral-800 dark:bg-neutral-900" : ""}`}> Italiano </a>
                  <a id="lang-en" role="menuitem" href="/en" tabindex="0" class={`flex items-center rounded-full my-1 px-4 py-2 text-sm font-medium text-neutral-900 hover:bg-neutral-200 dark:text-neutral-100 dark:hover:bg-neutral-800 ${Astro.url.pathname.startsWith("/en") ? "bg-neutral-100 border border-neutral-200 dark:dark:border-neutral-800 dark:bg-neutral-900" : ""}`}> English </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center md:justify-end">
          <div class="flex flex-wrap items-end space-x-2">
            <a href="https://linkedin.com/in/davide-la-marca-178241254" target="_blank" aria-label={footer.aria.linkedin} class="inline-flex h-9 w-9 items-center justify-center rounded-full text-neutral-600 hover:bg-blue-50 hover:text-blue-600 dark:text-neutral-400 dark:hover:bg-blue-950">
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H3Zm1.102 4.297a1.195 1.195 0 1 0 0-2.39a1.195 1.195 0 0 0 0 2.39Zm1 7.516V6.234h-2v6.579h2ZM6.43 6.234h2v.881c.295-.462.943-1.084 2.148-1.084c1.438 0 2.219.953 2.219 2.766c0 .087.008.484.008.484v3.531h-2v-3.53c0-.485-.102-1.438-1.18-1.438c-1.079 0-1.17 1.198-1.195 1.982v2.986h-2V6.234Z" clip-rule="evenodd"></path>
              </svg>
            </a>
            <a href="https://github.com/lama-development" target="_blank" aria-label={footer.aria.github} class="inline-flex h-9 w-9 items-center justify-center rounded-full text-neutral-600 hover:bg-neutral-100 hover:text-neutral-900 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-100">
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 432 432">
                <path d="M213.5 0q88.5 0 151 62.5T427 213q0 70-41 125.5T281 416q-14 2-14-11v-58q0-27-15-40q44-5 70.5-27t26.5-77q0-34-22-58q11-26-2-57q-18-5-58 22q-26-7-54-7t-53 7q-18-12-32.5-17.5T107 88h-6q-12 31-2 57q-22 24-22 58q0 55 27 77t70 27q-11 10-13 29q-42 18-62-18q-12-20-33-22q-2 0-4.5.5t-5 3.5t8.5 9q14 7 23 31q1 2 2 4.5t6.5 9.5t13 10.5T130 371t30-2v36q0 13-14 11q-64-22-105-77.5T0 213q0-88 62.5-150.5T213.5 0z"></path>
              </svg>
            </a>
            <a href="https://dribbble.com/lama-designs" target="_blank" aria-label={footer.aria.dribbble} class="inline-flex h-9 w-9 items-center justify-center rounded-full text-neutral-600 hover:bg-pink-50 hover:text-pink-500 dark:text-neutral-400 dark:hover:bg-pink-950">
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 432 432">
                <path d="M308 358q56-40 69-107q-35-8-66-8q-17 0-34 3q19 57 31 112zm-95 29q31 0 59-11q-12-63-32-121q-49 16-87 52q-23 22-39 47q44 33 99 33zM47 221q0 60 39 106q19-28 46-53q42-38 94-55q-4-10-10-22q-67 21-151 22q-13 0-18-1v3zm93-150q-33 16-56 45t-32 64q3 1 13 1h3q70 0 131-19q-29-54-59-91zm73-17q-16 0-35 4q32 42 57 91q53-23 82-58q-45-37-104-37zm131 64q-36 41-92 66q4 8 11 25q24-4 48-4q33 0 69 8q-3-53-36-95zM213.5 7q88.5 0 151 62.5t62.5 151t-62.5 151t-151 62.5t-151-62.5T0 220.5t62.5-151T213.5 7z"></path>
              </svg>
            </a>
            <a href="https://307423661536968704.hello.cv" target="_blank" aria-label={footer.aria.resume} class="inline-flex h-9 w-9 items-center justify-center rounded-full text-neutral-600 hover:bg-emerald-50 hover:text-emerald-600 dark:text-neutral-400 dark:hover:bg-emerald-950">
              <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"></path>
              </svg>
            </a>
            <a href="mailto:info@davidelamarca.com" aria-label={footer.aria.email} class="inline-flex h-9 w-9 items-center justify-center rounded-full text-neutral-600 hover:bg-blue-50 hover:text-blue-500 dark:text-neutral-400 dark:hover:bg-blue-950">
              <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"><rect width="18.5" height="15.5" x="2.75" y="4.25" rx="3"></rect><path d="m2.75 8l8.415 3.866a2 2 0 0 0 1.67 0L21.25 8"></path></g>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-6 border-t border-neutral-200 pt-6 dark:dark:border-neutral-800">
        <div class="flex flex-col items-center justify-between space-y-1 md:flex-row md:space-y-0">
          <div class="text-center md:text-left">
            <div class="flex items-center justify-center space-x-2 md:justify-start">
              <span class="text-sm text-neutral-600 dark:text-neutral-400">
                &copy; {new Date().getFullYear()}
                {footer.copyright}
                {footer.vat}
              </span>
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <a href={`${langPrefix}/terms`} class="text-sm text-neutral-600 hover:underline dark:text-neutral-400">{footer.page1}</a>
            <span class="text-neutral-400 dark:text-neutral-600">•</span>
            <a href={`${langPrefix}/privacy`} class="text-sm text-neutral-600 hover:underline dark:text-neutral-400">{footer.page2}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
