---
import "../styles/global.css";
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
const { t, meta } = Astro.props;
---

<!doctype html>
<html lang={t.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
    <script is:inline src="/src/scripts/theme.js"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="57fe3a12-97ad-45ef-beda-3d158c005eae"></script>
    <script src="/src/scripts/navbar.js"></script>
    <script src="/src/scripts/language.js"></script>
  </head>
  <body class="bg-neutral-50 dark:bg-neutral-950">
    <Navbar navbar={t.navbar} />
    <slot />
    <Footer footer={t.footer} />
  </body>
</html>
